html {
  font-size: 75%;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #747474; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #c5a47e; }

::selection {
  background-color: #c5a47e;
  color: #fff; }

-webkit-::selection {
  background-color: #c5a47e;
  color: #fff; }

::-moz-selection {
  background-color: #c5a47e;
  color: #fff; }

/* 1.2 Typography */
@font-face {
  font-family: "montserratlight";
  src: url("/fonts/montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratsemibold";
  src: url("/fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

.type-23 h1, .type-23 .h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 8vmin;
  line-height: 1.2;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-23 h2, .type-23 .h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.1875em;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d; }
.type-23 h3, .type-23 .h3 {
  font-family: "montserratsemibold";
  font-size: 1.875em;
  line-height: 1.1;
  font-weight: normal;
  color: #3d3d3d; }
.type-23 h4, .type-23 .h4 {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  line-height: 1.35;
  font-weight: normal;
  color: #3d3d3d;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
.type-23 h1 a, .type-23 .h1 a, .type-23 h2 a, .type-23 .h2 a, .type-23 h3 a, .type-23 .h3 a, .type-23 h4 a, .type-23 .h4 a {
  color: inherit; }
.type-23 h1 a:hover, .type-23 .h1 a:hover, .type-23 h2 a:hover, .type-23 .h2 a:hover, .type-23 h3 a:hover, .type-23 .h3 a:hover, .type-23 h4 a:hover, .type-23 .h4 a:hover {
  text-decoration: none; }
.type-23 p {
  margin-bottom: 1.6em; }
.type-23 b, .type-23 strong {
  font-family: "Montserrat", sans-serif; }
.type-23 ul {
  list-style: none;
  padding-left: 0; }
.type-23 a {
  color: #c5a47e;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out; }
.type-23 a:hover, .type-23 a:focus {
  color: #c5a47e;
  outline: none; }
.type-23 a:focus {
  text-decoration: none;
  /* 1.7 Content styles */ }
.type-23 .layout {
  position: relative;
  overflow: hidden; }
.type-23 .text-primary {
  color: #c5a47e; }
.type-23 .page-lines {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
.type-23 .page-lines .col-line {
  padding: 0; }
.type-23 .page-lines .line {
  position: absolute;
  left: 0;
  width: 1px;
  height: 50000px;
  background-color: #f4f4f4; }
.type-23 .page-lines .col-line:last-child .line:last-child {
  left: auto;
  right: 0; }
.type-23 .row-base {
  margin-top: -3em; }
.type-23 .col-base {
  margin-top: 3em; }
.type-23 .section {
  position: relative;
  margin-top: 7.1em;
  margin-bottom: 7.1em; }
.type-23 .section-header {
  position: relative; }
.type-23 .section-title {
  text-align: center;
  margin: 0;
  margin-left: 0.32em; }
.type-23 .fade-title-left, .type-23 .fade-title-right {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10.8em;
  line-height: 1;
  color: #000;
  position: absolute;
  left: 0;
  top: 0.03em;
  opacity: 0.035;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.type-23 .fade-title-right {
  left: 100%; }
.type-23 .section-content {
  margin-top: 7.1em;
  /*-------------------------------------------------------------------------------
   2. Header
   -------------------------------------------------------------------------------*/ }
.type-23 .header-inner .vertical-panel-content {
  bottom: auto;
  top: 12.2vmin;
  /* 2.1 Brand */ }
.type-23 .brand-panel {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 39.47vmin;
  height: 40.7vmin;
  padding: 4.8vmin 2em 4.8vmin;
  background-color: #f6f5f3;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.type-23 .brand {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4vmin;
  line-height: 1;
  color: #3d3d3d; }
.type-23 .brand:hover, .type-23 .brand:focus {
  color: #3d3d3d;
  text-decoration: none; }
.type-23 .brand-name {
  position: absolute;
  z-index: -1;
  bottom: -0.4em;
  right: -0.37em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 8.75em;
  line-height: 1;
  opacity: 0.05; }
.type-23 .vertical-panel, .type-23 .vertical-panel-content {
  position: absolute;
  width: 19.735vmin;
  left: 0;
  bottom: 0;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.type-23 .vertical-panel {
  z-index: 3;
  height: 10000px;
  background-color: #f6f5f3; }
.type-23 .vertical-panel-content {
  z-index: 4; }
.type-23 .vertical-panel-info {
  margin-bottom: 3.5vmin; }
.type-23 .vertical-panel-info .line {
  height: 5vmin;
  width: 1px;
  margin: 15px auto 0;
  background-color: #c5c4c2; }
.type-23 .vertical-panel-title {
  font-family: "montserratsemibold";
  font-size: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #3d3d3d;
  position: relative;
  left: -6px;
  margin: 0 auto;
  width: 1px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }
@media (max-height: 850px) {
  .type-23 .vertical-panel-title {
    display: none; } }
.type-23 .social-list {
  margin-bottom: 3.5vmin; }
.type-23 .social-list li {
  margin-top: 3.8vmin; }
.type-23 .social-list .fa {
  font-size: 2.4vmin;
  color: #c5c4c2; }
.type-23 .social-list .fa:hover {
  color: #c5a47e;
  text-decoration: none;
  /* 2.3 Navbar Desctop */
  /*-------------------------------------------------------------------------------
   3. Main
   -------------------------------------------------------------------------------*/ }
.type-23 .main {
  position: relative;
  overflow: hidden;
  min-height: 420px; }
.type-23 .main-inner {
  position: relative;
  z-index: 1;
  min-height: 0;
  padding: 33.7vmin 0 11.7vmin; }
.type-23 .main-inner:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #171717;
  opacity: 0.6; }
.type-23 .main-projects, .type-23 .main-contacts {
  padding: 34.2vmin 0 34vmin; }
.type-23 .main-project {
  padding: 33.7vmin 0 11vmin;
  background-size: cover;
  background-position: center 0; }
.type-23 .main-contacts:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  background: -webkit-linear-gradient(bottom, rgba(39, 39, 39, 0.95) 0%, rgba(39, 39, 39, 0.95) 26%, rgba(39, 39, 39, 0.6) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(39, 39, 39, 0.95) 0%, rgba(39, 39, 39, 0.95) 26%, rgba(39, 39, 39, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
.type-23 .main-header {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: right;
  padding-left: 38.5vmin; }
.type-23 .main-header h1 {
  color: #fff;
  margin: 0;
  margin-right: -0.32em; }
.type-23 .main-inner .page-lines {
  z-index: 1;
  opacity: 0.15; }
.type-23 .main-inner .page-lines .line {
  border-color: #fff; }
.type-23 .main-blog .page-lines, .type-23 .main-projects .page-lines, .type-23 .main-project .page-lines, .type-23 .main-contacts .page-lines {
  opacity: 0.08;
  /* 3.1 Slider */
  /* 8.1 Blog Details */ }
.type-23 .blog-details {
  margin: 10.2em 0 8.3em; }
.type-23 .col-secondary {
  margin-top: 7.1em; }
.type-23 .post-header {
  margin-bottom: 5em; }
.type-23 .post-header h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  line-height: 1.43;
  margin: 0 0 0 0; }
.type-23 .post-header .blog-meta {
  margin-top: 2.45em; }
.type-23 .post-thumbnail {
  margin-bottom: 2.5em; }
.type-23 .post-thumbnail img {
  width: 100%;
  border-radius: 0.25em; }
.type-23 .post .blog-tags {
  margin-top: 5.4em; }
@media (min-width: 768px) {
  /* 11.2 Min width 992px */
  .type-23 html {
    font-size: 85%;
    /* Projects Deatails */ }
  .type-23 .project-details {
    margin-top: 7.1em; }
  .type-23 .project-details-item {
    margin-bottom: 7.1em; }
  .type-23 .project-details-info {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 13%;
    bottom: 13%;
    width: 55%; }
  .type-23 .project-details-item:nth-child(odd) .project-details-img {
    padding-left: 15px;
    padding-right: 15px; }
  .type-23 .project-details-item:nth-child(even) .project-details-img {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 992px) {
  /* 11.3 Min width 1200px */
  .type-23 html {
    font-size: 92%;
    /* Content styles */ }
  .type-23 .text-center-md {
    text-align: center; }
  .type-23 .text-right-md {
    text-align: right; }
  .type-23 .text-left-md {
    text-align: left;
    /* Navbar Mobile */ }
  .type-23 .navbar-mobile {
    position: absolute;
    left: -50000px;
    top: -50000px;
    /* About */ }
  .type-23 .col-about-img {
    padding-left: 0;
    left: -5px; }
  .type-23 .col-about-img img {
    max-width: calc(100% + 5px);
    /* Project Details */ }
  .type-23 .project-details-item:nth-child(odd) .project-details-img {
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 33.33333333%; }
  .type-23 .project-details-item:nth-child(even) .project-details-img {
    padding-right: 5px;
    padding-left: 15px; } }
@media (min-width: 1200px) {
  .type-23 html {
    font-size: 100%;
    /* Header */ }
  .type-23 .main-header {
    padding-left: 0;
    /* Project Details */ }
  .type-23 .project-details-info {
    width: 44%; } }
.type-23 .breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  z-index: 99999;
  position: relative;
  text-align: right; }
.type-23 .breadcrumb > .active {
  color: #fff; }
.type-23 .breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #c5a47e; }
.type-23 .slide-number {
  position: absolute;
  z-index: 4;
  left: 6%;
  top: 1.32%; }
.type-23 .bg-breadcrumb {
  background-repeat: no-repeat;
  background-size: cover; }
.type-23 .navbar-nav-mobile li a .fa-angle-down {
  float: right;
  font-size: 16px; }
@media (max-width: 991px) {
  .type-23 .blog-thumbnail {
    padding-right: 15px; } }
.type-23 .slider {
  background: url("../images/blog.jpg");
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover; }
