html {
  font-size: 75%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "montserratlight", sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #747474;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #c5a47e;
}

::selection {
  background-color: #c5a47e;
  color: #fff;
}

-webkit-::selection {
  background-color: #c5a47e;
  color: #fff;
}

::-moz-selection {
  background-color: #c5a47e;
  color: #fff;
}

/* 1.2 Typography */

@font-face {
  font-family: "montserratlight";
  src: url("/fonts/montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratsemibold";
  src: url("/fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
.type-23{
h1,
.h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 8vmin;
  line-height: 1.2;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d;
}

h2,
.h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.1875em;
  letter-spacing: 0.32em;
  text-transform: uppercase;
  color: #3d3d3d;
}

h3,
.h3 {
  font-family: "montserratsemibold";
  font-size: 1.875em;
  line-height: 1.1;
  font-weight: normal;
  color: #3d3d3d;
}

h4,
.h4 {
  font-family: "montserratsemibold";
  font-size: 1.125em;
  line-height: 1.35;
  font-weight: normal;
  color: #3d3d3d;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a {
  color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 1.6em;
}

b,
strong {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: #c5a47e;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

a:hover,
a:focus {
  color: #c5a47e;
  outline: none;
}

a:focus {
  text-decoration: none;
}

/* 1.7 Content styles */

.layout {
  position: relative;
  overflow: hidden;
}

.text-primary {
  color: #c5a47e;
}

.page-lines {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-lines .col-line {
  padding: 0;
}

.page-lines .line {
  position: absolute;
  left: 0;
  width: 1px;
  height: 50000px;
  background-color: #f4f4f4;
}

.page-lines .col-line:last-child .line:last-child {
  left: auto;
  right: 0;
}

.row-base {
  margin-top: -3em;
}

.col-base {
  margin-top: 3em;
}

.section {
  position: relative;
  margin-top: 7.1em;
  margin-bottom: 7.1em;
}

.section-header {
  position: relative;
}

.section-title {
  text-align: center;
  margin: 0;
  margin-left: 0.32em;
}

.fade-title-left,
.fade-title-right {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10.8em;
  line-height: 1;
  color: #000;
  position: absolute;
  left: 0;
  top: 0.03em;
  opacity: 0.035;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fade-title-right {
  left: 100%;
}

.section-content {
  margin-top: 7.1em;
}

/*-------------------------------------------------------------------------------
  2. Header
-------------------------------------------------------------------------------*/

.header-inner .vertical-panel-content {
  bottom: auto;
  top: 12.2vmin;
}

/* 2.1 Brand */

.brand-panel {
  position: absolute;
  z-index: 4;
  left: 0;
  top: 0;
  width: 39.47vmin;
  height: 40.7vmin;
  padding: 4.8vmin 2em 4.8vmin;
  background-color: #f6f5f3;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.brand {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4vmin;
  line-height: 1;
  color: #3d3d3d;
}

.brand:hover,
.brand:focus {
  color: #3d3d3d;
  text-decoration: none;
}

.brand-name {
  position: absolute;
  z-index: -1;
  bottom: -0.4em;
  right: -0.37em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 8.75em;
  line-height: 1;
  opacity: 0.05;
}

.vertical-panel,
.vertical-panel-content {
  position: absolute;
  width: 19.735vmin;
  left: 0;
  bottom: 0;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.vertical-panel {
  z-index: 3;
  height: 10000px;
  background-color: #f6f5f3;
}

.vertical-panel-content {
  z-index: 4;
}

.vertical-panel-info {
  margin-bottom: 3.5vmin;
}

.vertical-panel-info .line {
  height: 5vmin;
  width: 1px;
  margin: 15px auto 0;
  background-color: #c5c4c2;
}

.vertical-panel-title {
  font-family: "montserratsemibold";
  font-size: 10px;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #3d3d3d;
  position: relative;
  left: -6px;
  margin: 0 auto;
  width: 1px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max-height: 850px) {
  .vertical-panel-title {
    display: none;
  }
}

.social-list {
  margin-bottom: 3.5vmin;
}

.social-list li {
  margin-top: 3.8vmin;
}

.social-list .fa {
  font-size: 2.4vmin;
  color: #c5c4c2;
}

.social-list .fa:hover {
  color: #c5a47e;
  text-decoration: none;
}

/* 2.3 Navbar Desctop */

/*-------------------------------------------------------------------------------
  3. Main
-------------------------------------------------------------------------------*/

.main {
  position: relative;
  overflow: hidden;
  min-height: 420px;
}

.main-inner {
  position: relative;
  z-index: 1;
  min-height: 0;
  padding: 33.7vmin 0 11.7vmin;
}

.main-inner:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #171717;
  opacity: 0.6;
}

.main-projects,
.main-contacts {
  padding: 34.2vmin 0 34vmin;
}

.main-project {
  padding: 33.7vmin 0 11vmin;
  background-size: cover;
  background-position: center 0;
}

.main-contacts:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  background: -webkit-linear-gradient(
    bottom,
    rgba(39, 39, 39, 0.95) 0%,
    rgba(39, 39, 39, 0.95) 26%,
    rgba(39, 39, 39, 0.6) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to top,
    rgba(39, 39, 39, 0.95) 0%,
    rgba(39, 39, 39, 0.95) 26%,
    rgba(39, 39, 39, 0.6) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-header {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: right;
  padding-left: 38.5vmin;
}

.main-header h1 {
  color: #fff;
  margin: 0;
  margin-right: -0.32em;
}

.main-inner .page-lines {
  z-index: 1;
  opacity: 0.15;
}

.main-inner .page-lines .line {
  border-color: #fff;
}

.main-blog .page-lines,
.main-projects .page-lines,
.main-project .page-lines,
.main-contacts .page-lines {
  opacity: 0.08;
}

/* 3.1 Slider */

/* 8.1 Blog Details */

.blog-details {
  margin: 10.2em 0 8.3em;
}

.col-secondary {
  margin-top: 7.1em;
}

.post-header {
  margin-bottom: 5em;
}

.post-header h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  line-height: 1.43;
  margin: 0 0 0 0;
}

.post-header .blog-meta {
  margin-top: 2.45em;
}

.post-thumbnail {
  margin-bottom: 2.5em;
}

.post-thumbnail img {
  width: 100%;
  border-radius: 0.25em;
}

.post .blog-tags {
  margin-top: 5.4em;
}

@media (min-width: 768px) {
  html {
    font-size: 85%;
  }

  /* Projects Deatails */
  .project-details {
    margin-top: 7.1em;
  }
  .project-details-item {
    margin-bottom: 7.1em;
  }
  .project-details-info {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 13%;
    bottom: 13%;
    width: 55%;
  }
  .project-details-item:nth-child(odd) .project-details-img {
    padding-left: 15px;
    padding-right: 15px;
  }
  .project-details-item:nth-child(even) .project-details-img {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* 11.2 Min width 992px */

@media (min-width: 992px) {
  html {
    font-size: 92%;
  }
  /* Content styles */
  .text-center-md {
    text-align: center;
  }
  .text-right-md {
    text-align: right;
  }
  .text-left-md {
    text-align: left;
  }
  /* Navbar Mobile */
  .navbar-mobile {
    position: absolute;
    left: -50000px;
    top: -50000px;
  }
  /* About */
  .col-about-img {
    padding-left: 0;
    left: -5px;
  }
  .col-about-img img {
    max-width: calc(100% + 5px);
  }
  /* Project Details */
  .project-details-item:nth-child(odd) .project-details-img {
    padding-left: 5px;
    padding-right: 15px;
    margin-left: 33.33333333%;
  }
  .project-details-item:nth-child(even) .project-details-img {
    padding-right: 5px;
    padding-left: 15px;
  }
}

/* 11.3 Min width 1200px */

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  /* Header */
  .main-header {
    padding-left: 0;
  }
  /* Project Details */
  .project-details-info {
    width: 44%;
  }
}

.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  color: #fff;
  border-radius: 0px;
  z-index: 99999;
  position: relative;
  text-align: right;
}

.breadcrumb > .active {
  color: #fff;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #c5a47e;
}

.slide-number {
  position: absolute;
  z-index: 4;
  left: 6%;
  top: 1.32%;
}

.bg-breadcrumb {
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav-mobile li a .fa-angle-down {
  float: right;
  font-size: 16px;
}

@media (max-width: 991px) {
  .blog-thumbnail {
    padding-right: 15px;
  }
}

.slider {
  background: url("../images/blog.jpg");
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
}